<%- include('./layouts/header.ejs')%>

<div class="main">
  <%- include('./layouts/navbar.ejs')%>
  <div class="container-fluid">
    <div class="page-title">
      <h1>修改密码</h1>
    </div>
    <!-- 有错误信息时展示 -->
    <div class="alert alert-danger errorHide">
      <strong>错误！</strong>发生XXX错误
    </div>
    <form class="form-horizontal" id="myForm">
      <div class="form-group">
        <label for="old" class="col-sm-3 control-label">旧密码</label>
        <div class="col-sm-7">
          <input id="old" class="form-control" type="password" placeholder="旧密码">
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-3 control-label">新密码</label>
        <div class="col-sm-7">
          <input id="password" class="form-control" type="password" placeholder="新密码">
        </div>
      </div>
      <div class="form-group">
        <label for="confirm" class="col-sm-3 control-label">确认新密码</label>
        <div class="col-sm-7">
          <input id="confirm" class="form-control" type="password" placeholder="确认新密码">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7">
          <button type="submit" class="btn btn-primary">修改密码</button>
        </div>
      </div>
    </form>
  </div>
</div>

<%- include('./layouts/asider.ejs')%>

<%- include('./layouts/footer.ejs')%>
<script src="/assets/vendors/utils/utils.js"></script>
<script>
  // 1. 验证旧密码是否正确
  // 1.1 给旧密码输入框注册失去焦点的事件
  $('#old').on('blur', function () {

    // 1.2 获取id
    // var serach = location.search.slice(1)
    // var id = utils.convertToObj(search).id
    // 1.3 发送ajax请求
    $.ajax({
      type: 'post',
      url: '/validateOldPassword',
      data: {
        password: $(this).val(),
        // id:id
        id: utils.convertToObj(location.search.slice(1)).id
      },
      dataType: 'json',
      success: function (res) {
        if (res.code == 1) {
          // 如果输入的密码和原密码不一样则提示,否则不提示
          $('.alert').removeClass('errorHide').addClass('errorShow').html(`<strong>错误！</strong>${res.msg}`)

          // 让提示延迟1秒后消失
          var timeId = setTimeout(function () {
            $('.alert').removeClass('errorShow').addClass('errorHide')
            clearTimeout(timeId)
          }, 1000);
        }
      }
    })
  })

  // 2.更新密码
  // 2.1 给form标签注册事件
  $('#myForm').on('submit', function (event) {

    // 2.2 阻止默认的提交行为
    event.preventDefault();

    // 2.3 发送ajax请求
    $.ajax({
      type: 'post',
      url: '/updateProfilePassword',
      data: {
        password: $('#confirm').val(),
        id: utils.convertToObj(location.search.slice(1)).id
      },
      beforeSend: function () {
        // 发送ajax请求之前应该要验证两次输入是否一致
        if ($('#password').val() !== $('#confirm').val()) {

          // 如果输入的密码和原密码不一样则提示,否则不提示
          $('.alert').removeClass('errorHide').addClass('errorShow').html(`<strong>错误！</strong>两次新密码输入不一致`)

          // 让提示延迟1秒后消失
          var timeId = setTimeout(function () {
            $('.alert').removeClass('errorShow').addClass('errorHide')
            clearTimeout(timeId)
          }, 1000);
          return false; // 阻止请求的发送
        }
      },
      dataType: 'json',
      success: function (res) {
        // console.log(res);
        if (res.code == 0) {
          $('.alert').removeClass('errorHide').addClass('errorShow').html(`<strong>密码更新成功,2秒后跳转到登陆页面</strong>`)

          // 让提示延迟1秒后消失
          var timeId = setTimeout(function () {
            $('.alert').removeClass('errorShow').addClass('errorHide')
            clearTimeout(timeId)
            location.href = '/login' // 跳转到登陆页面
          }, 2000);


        }
      }
    })
  })
</script>